First of all, we need to download the dataset from Kaggle using Kaggle API. ðŸ‘Š

In [ ]:
import numpy as np
import pandas as pd

In [1]:
# Ð·Ð°Ð³Ñ€ÑƒÐ·ÐºÐ° Ñ„Ð°Ð¹Ð»Ð°
from google.colab import files
files.upload()

{}

In [ ]:
!pip install -q kaggle

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [ ]:
!kaggle datasets download -d sophiahealy/genshin-impact-character-data

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading genshin-impact-character-data.zip to /content
  0% 0.00/13.1k [00:00<?, ?B/s]
100% 13.1k/13.1k [00:00<00:00, 8.10MB/s]

In [ ]:
!kaggle datasets list -s sophiahealy/genshin-impact-character-data

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                                        title                          size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------------------  -----------------------------  ----  -------------------  -------------  ---------  ---------------
sophiahealy/genshin-impact-character-data  Genshin Impact Character Data  13KB  2022-08-05 23:58:26            311         46  1.0

In [ ]:
!ls /content/

genshin-impact-character-data.zip  kaggle.json	sample_data

After that, we can display our dataset and go searching for missing values. ðŸ“ˆ

In [ ]:
!unzip genshin-impact-character-data.zip

Archive:  genshin-impact-character-data.zip
  inflating: genshin.csv

In [ ]:
df = pd.read_csv('/content/genshin.csv')
df.head()
# df.to_csv('genshin_dataset.csv', sep='\t')

,character_name,playable,rarity,vision,region,model,constellation,birthday,special_dish,affiliation,...,special_2,special_3,special_4,special_5,special_6,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,Albedo,Y,5.0,Geo,Mondstadt,Medium Male,Princeps Cretaceus,9/13,Woodland Dream,Knights of Favonius,...,7.2%,14.4%,14.4%,21.6%,28.8%,NaN,NaN,NaN,NaN,NaN
1,Alhaitham,N,NaN,Dendro,Sumeru,Tall Male,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aloy,Y,5.0,Cryo,NaN,Medium Female,Nora Fortis,4/4,Satiety Gel,Wandering Heroine,...,7.2%,14.4%,14.4%,21.6%,28.8%,NaN,NaN,NaN,NaN,NaN
3,Amber,Y,4.0,Pyro,Mondstadt,Medium Female,Lepus,8/10,Outrider's Champion Steak!,Knights of Favonius,...,6.0%,12.0%,12.0%,18.0%,24.0%,NaN,NaN,NaN,NaN,NaN
4,Arataki Itto,Y,5.0,Geo,Inazuma,Tall Male,Taurus Iracundus,6/1,Way of the Strong,Arataki Gang,...,4.8%,9.6%,9.6%,14.4%,19.2%,NaN,NaN,NaN,NaN,NaN

In [ ]:
import os  
# os.makedirs('folder/subfolder', exist_ok=True)  
# df.to_csv('folder/subfolder/genshin_dataset.csv')  

os.getcwd()

'/content'

In [ ]:
# the shape of the dataset
df.shape

(66, 78)

In [ ]:
df.columns

Index(['character_name', 'playable', 'rarity', 'vision', 'region', 'model',
       'constellation', 'birthday', 'special_dish', 'affiliation', 'voice_eng',
       'voice_cn', 'voice_jp', 'voice_kr', 'release_date', 'weapon_type',
       'ascension', 'ascension_specialty', 'ascension_talent_mat',
       'ascension_boss_mat', 'talent_book_1', 'talent_book_2', 'talent_book_3',
       'talent_weekly', 'hp_90_90', 'atk_90_90', 'def_90_90', 'hp_80_90',
       'atk_80_90', 'def_80_90', 'hp_80_80', 'atk_80_80', 'def_80_80',
       'hp_70_80', 'atk_70_80', 'def_70_80', 'hp_70_70', 'atk_70_70',
       'def_70_70', 'hp_60_70', 'atk_60_70', 'def_60_70', 'hp_60_60',
       'atk_60_60', 'def_60_60', 'hp_50_60', 'atk_50_60', 'def_50_60',
       'hp_50_50', 'atk_50_50', 'def_50_50', 'hp_40_50', 'atk_40_50',
       'def_40_50', 'hp_40_40', 'atk_40_40', 'def_40_40', 'hp_20_40',
       'atk_20_40', 'def_20_40', 'hp_20_20', 'atk_20_20', 'def_20_20',
       'hp_1_20', 'atk_1_20', 'def_1_20', 'spsecial_0', 'special_1',
       'special_2', 'special_3', 'special_4', 'special_5', 'special_6',
       'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76',
       'Unnamed: 77'],
      dtype='object')

In [ ]:
# drop non-playable characters
df.drop(df.index[df['playable']=='N'], inplace=True)
# drop the columns 'cause it contains the same values
cols=['playable', 'special_dish', 'constellation']
cols.extend(list(df.filter(regex='voice_')))
df.drop(columns= cols, inplace=True)
# return the new shape
df.shape

(53, 71)

In [ ]:
# drop empty columns
for column in df.columns:
    # if sum of NaN values in column equals the amount of rows in dataset
    if df[column].isna().sum() == len(df.index):
        df.drop(columns=column, inplace=True)
df.shape

(53, 66)

In [ ]:
# how many NaN values the dataset has
df.isna().sum().sum()

128

In [ ]:
df = df.dropna()

In [ ]:
df.tail(3)

,character_name,rarity,vision,region,model,birthday,affiliation,release_date,weapon_type,ascension,...,hp_1_20,atk_1_20,def_1_20,spsecial_0,special_1,special_2,special_3,special_4,special_5,special_6
62,Yoimiya,5.0,Pyro,Inazuma,Medium Female,6/21,Naganohara Fireworks,8/10/2021,Bow,CRIT Rate,...,791.0,25.0,48.0,0.0%,0.0%,4.8%,9.6%,9.6%,14.4%,19.2%
63,Yun Jin,4.0,Geo,Liyue,Medium Female,5/21,Yun-Han Opera House,1/5/2022,Polearm,Energy Recharge,...,894.0,16.0,62.0,0.0%,0.0%,6.7%,13.3%,13.3%,20.0%,26.7%
64,Zhongli,5.0,Geo,Liyue,Tall Male,12/31,Liyue Harbor,12/1/2020,Polearm,Geo DMG Bonus,...,1144.0,20.0,57.0,0.0%,0.0%,7.2%,14.4%,14.4%,21.6%,28.8%

Finally, let's check if the values in attack, defence and hp columns are adequate. It means the numbers must encrease every time.

In [ ]:
%%time

df['hp_check'] = np.where(df['hp_1_20'] < df['hp_20_20'],
                 np.where(df['hp_20_40'] < df['hp_40_40'],
                 np.where(df['hp_40_50'] < df['hp_50_50'],
                 np.where(df['hp_50_60'] < df['hp_60_60'],
                 np.where(df['hp_60_70'] < df['hp_70_70'],
                 np.where(df['hp_70_80'] < df['hp_80_80'],
                 np.where(df['hp_80_90'] < df['hp_90_90'], np.nan,
df['hp_80_90']),
df['hp_70_80']),
df['hp_60_70']),
df['hp_50_60']),
df['hp_40_50']),
df['hp_20_40']),
df['hp_1_20'])

CPU times: user 2.67 ms, sys: 0 ns, total: 2.67 ms
Wall time: 2.69 ms

In [ ]:
atk = list(df.filter(regex='atk_'))

In [ ]:
%%time

df.loc[:, atk].apply(lambda x: x.is_monotonic_decreasing, axis=1)

CPU times: user 7.58 ms, sys: 0 ns, total: 7.58 ms
Wall time: 8.31 ms

0      True
3      True
4      True
6      True
7      True
8      True
9      True
15     True
16     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
32     True
33     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
45    False
46     True
47     True
48     True
49     True
53     True
54     True
55     True
56     True
57     True
58     True
59     True
61     True
62     True
63     True
64     True
dtype: bool

In [ ]:
selected_rows = df[~df['hp_check'].isna()]
selected_rows[['character_name','hp_check']]

    character_name  hp_check
27  Kamisato Ayato    6165.0
45          Shenhe   21080.0
62         Yoimiya    6899.0

In [ ]:
df['hp_check'].'21080'.find

SyntaxError: ignored

In [ ]:
%%time

hp=list(df.filter(regex='hp_'))
for i in range(len(hp)):
  if (i%2==0):
    np.where(df[hp[i]] > df[hp[i+1]], 'ok', np.nan)

Now we are ready to analyse our dataset. âœ¨

In [ ]:
from matplotlib import pyplot as plt
df.loc[df['rarity']==4][['atk_1_20', 'atk_20_20', 
                         'atk_20_40', 'atk_40_40']].plot(title="test")

# Rotate the x-labels by 30 degrees, and keep the text aligned horizontally
plt.xticks(rotation=30, horizontalalignment="center")
plt.title("Attack on lvl 1")
plt.xlabel("Character")
plt.ylabel("Attack lvl")

In [ ]:
df['atk_1_20'].head(22).plot(kind='barh')

In [ ]:
print(df.max(numeric_only=True))

In [ ]:
df['hp_80_90'].idxmax()

In [ ]:
df['hp_80_90'][45]=12080.0

In [ ]:
df[df.eq("21080.0").any(1)]